* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  border: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.sketch-pad {
  border: 1px solid black;
  height: 700px;
  width: 700px;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  gap: 20px;
}

.color {
  display: flex;
  align-items: center;
}

.control {
  flex-grow: 1;
  height: 40px;
  width: 100px;
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 6px;
}

button {
  background-color: #b6b6b6;
}

.size-container {
  max-width: 100%;
  text-align: center;
}