* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url('./images/paper.jpg');
}

header > h1 {
  font-family: 'Architects Daughter', cursive;
  color: #434343;
  text-align: center;
  font-size: 54px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#sketch-pad {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 700px;
  width: 700px;
  background-color: #ffffff;
}

.border {
  border: 1px dashed #eaeaea;
  border-collapse: collapse;  
}

.row {
  display: flex;
  flex-grow: 1;
}

.column {
  flex-grow: 1;
}

#settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  gap: 20px;
}

.color {
  display: flex;
  align-items: center;
}

.control {
  flex-grow: 1;
  height: 40px;
  width: 100px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
}

.button-default {
  background-color: #434343;
  color: #f3f3f3;
  border: none;
  filter: drop-shadow(0 0 0.2rem rgb(6, 6, 6));
  border-radius: 5px;
}

button:hover {
  background-color: #f3f3f3;
  color: #434343;
}

.enabled {
  background-color: #6f9b6f;
}

#color {
  appearance: none;
  padding: 0;
  border: none;
}

#color::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.2rem rgb(6, 6, 6));
  width: 20px;
}

#size {
  -webkit-appearance: none;
  background: #eaeaea;
  border-radius: 10px;
  height: 5px;
  filter: drop-shadow(0 0 0.2rem rgb(6, 6, 6));
  margin-bottom: 5px;

}

#size::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #434343;
  cursor: pointer;
} 